{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block navclass_uploads %}active{% endblock %}

{% block head_resources %}
{{block.super}}
<link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet"/>
<script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
<script>
  $(function() {
    $("#id_expiry").datepicker({format: "yyyy-mm-dd"})
  });
</script>
{{form.media}}
{% endblock %}

{% block title %}{% trans "Area" %}{% endblock %}

{% block content %}
<form action="." method="POST">{% csrf_token %}
{{form}}
<input type="submit"></input>
</form>
{% endblock %}

