{% extends "base.html" %}
{% load url from future %}

{% block navclass_uploads %}active{% endblock %}

{% block content %}

<a href="{% url 'uploads_create' %}">Create</a>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Disk space</th>
      <th>Public link</th>
      <th>Expires</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for a in areas %}
  <tr>
    <td><a href="TODO">{{a.name}}</a></td>
    <td>??/{{a.max_size}}MB</td>
    <td><a href="TODO">{{a.uuid}}</a></td>
    <td>{{a.expiry}}</td>
    <td><a href="{% url 'uploads_edit' pk=a.pk %}">edit</a> <a href="{% url 'uploads_delete' pk=a.pk %}">delete</a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}

