{% load i18n %}
{% load url from future %}
{% comment %}{% load try_to_include %}{% endcomment %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block head_resources %}
  <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" media="screen">
  <script src="{{STATIC_URL}}js/jquery-2.0.0.min.js"></script>
  <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
  {% endblock %}
  <title>{% block title %}My Little Cloud{% endblock %}</title>
</head>
<body>
  <header class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="{% url 'home' %}">My Little Cloud</a>
        <ul class="nav">
          <li class="{% block navclass_uploads %}{% endblock %}"><a href="{% url 'uploads_list' %}">Uploads</a></li>
          {% if user.is_authenticated %}
          <li><a href="TODO">{{user}}</a></li>
          <li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">{% trans "Login" %}</a></li>
          {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </header>

  <div class="container">
    <!-- Message handling -->
    {% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert {{ message.tags }}"{% endif %}>
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      {{ message }}
    </div>
    {% endfor %}

    <script type="text/javascript">
      $(document).ready(function() {
          $(".alert").alert();
      });
    </script>
    {% endif %}
    <!-- End of message handling -->
    
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>

  </div>

  <footer>
  </footer>
</body>
</html>
